/* Steylesheet for breed guide page */

body {
  background-color: Grey;
}

#instruction_form_container, #breed_container {
  width: auto;
  text-align: center;
}

#instruction_form_container {
  margin-bottom: 25px;
}

#container_border, #breed_list {
  border-width: 5px;
  border-style: ridge;
  border-color: #FFF;
}

#container_border {
  display: inline-block;
  background-color: #000;
  text-align: left;
}

#breed_list {
  display: none;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  color: LightBlue;
  text-shadow: 5px 5px 5px Grey;
  text-align: center;
}

h2 {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 5px;
}

#instructions {
  font-family: 'Lato', sans-serif;
  color: LightBlue;
  background-color: #000;
  text-align: center;

  width: 300px;
  margin: 0px auto;
  padding: 5px;
}

form {
  font-family: 'Lato', sans-serif;
  color: LightBlue;
  background-color: #000;

  width: 300px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

form[type="checkbox"] {
  display: list-item;
}

form li{
  list-style: none; /* Don't bullet the checkbox labels */
}

#breed_list {
  font-family: 'Lato', sans-serif;
  color: LightBlue;
  background-color: #000;
  text-align: center;
  min-width: 470px;
}

.breed {
  text-align: center;
  width: 450px;
  height: 550px;
  margin: 10px;
}

.breed img {
  max-width: 400px;
  max-height: 400px;
}
