/* Steylesheet for breed guide page */

form[type="checkbox"] {
  display: list-item;
}

form li{
  list-style: none;
}

.breed {
  text-align: center;
  /*display: inline-block;*/
  width: 450px;
  height: 550px;
  margin: 10px;
}

.breed img {
  max-width: 400px;
  max-height: 400px;
}
