/* General stylesheet common to entire site */

/******************
Header

Contains title and menu bar
******************/
header {
  position: fixed;
  top: -2.7em;
  left: 0px;
  right: 0px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
header h1 {
  background-color: rgb(12, 200, 12);
  
  font-size: 4em;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 0px;
}

nav ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.85);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  padding: 8px 16px;
}

nav li.current {
  background-color: Orange;
}

nav li:last-child {
  border-right: none; /* No right border for last item */
}

nav li:hover {
  background-color: LightGreen;
}

nav li a {
  text-align: center;
  display: block;
  font-size: 125%;
  color: White;
  text-decoration: none;
}

/******************
Content

Generic style for content
******************/
.header_spacer {
  width: 100%;
  height: 170px; /* Shift content to start below fixed header */
}

.footer_spacer {
  width: 100%;
  height: 100px; /* Allow small screens to scroll to bottom of content,
                   despite the fixed footer */
}

/******************
Footer

Contains copyright/credit
******************/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 60px;
  font-size: 125%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.80);
  text-align: center;
}

/* Make visited link visible in footer */
footer a:visited{
  color: #FFF;
}
